body{
   background-color: #094b7e97;
}


h1{
    position: relative;
    margin-left: 585px;
    color: rgb(25, 24, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}

.style{
    border: 2px solid black;
    width: 379px;
    height: 567px;
    border-radius: 17px;
    margin: 23px 500px;
    padding: 10px;
    background-color: #000000;
}


.display{
    font-family:"Helvetica Neue",sans-serif;
    user-select: none;
    font-size:50px ;
    padding: 35px;
    border-radius: 30px;
    margin: 8px 10px;
    height: 25px;
    background-color:#000000;
    color:white;
    text-align: end;
}


.keys{
    border: 2px solid #000000;
    border-radius: 4px;
    margin: 18px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 20px 30px 20px;
    height: 385px;
    background-color: rgb(10, 10, 10);
}

#button{
    font-weight: 900;
    font-size: medium;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#D4D4D4 ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 20px;
    border-radius: 40px;
    height: 30px;
    background-color: #333333;
}
#special{
    font-weight: 900;
    background-color: #A5A5A5;
    font-size: medium;
    font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 20px;
    border-radius: 40px;
    height: 30px;
    
}

#operators{
    font-weight:  900;
    font-size:  x-large;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 20px;
    border-radius: 40px;
    height: 30px;
    background-color: #FF9F0A;
}
#zero{ 
    font-weight: 900;
    font-size: medium;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#D4D4D4 ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    padding: 20px;
    border-radius: 50px;
    height: 30px;
    background-color: #333333;
}
#zero:hover,#operators:hover,#special:hover,#button:hover{
    background-color: darkseagreen;
}